@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.company-name {
    margin-right: auto;
    font-weight: bold;
    color: #A0D8B3;
}

.nav-buttons button {
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
    color: #A0D8B3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.nav-buttons button:hover {
    background-color: #a0d8b3;
    color: #fff;
}